.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 30px;
    margin-top: 12px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 5px;
    height: 51px;
}

.logo {
    width: 53px;
    opacity: 10%;
    transition: 0.2s;
}

.logo:hover {
    opacity: 100%;
}

.linksUl {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-right: 270px;
}

.linksLi {
    list-style-type: none;
}

.links {
    cursor: pointer;
    transition: 0.2s;
}

.links:hover {
    opacity: 60%;
}

.buttons {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.buttons a {
    text-decoration: none;
}

.buttons {
    cursor: default;
}

.registrationButton {
    border: none;
    background: none;
    cursor: pointer;
    padding-right: 10px;
    color: #3C3E50;
    transition: 0.2s;
}

.registrationButton:hover {
    opacity: 60%;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #38BFF2;
    color: white;
    border: none;
    border-radius: 34px;
    width: 90px;
    height: 34px;
    cursor: pointer;
    transition: 0.2s;
}

.loginButton:hover {
    opacity: 60%;
}

.arrow {
    padding-right: 4px;
    width: 10px;
    height: 8px;
}