.questionTab {
    width: 1400px;
    background-color: #FEFBF6;
    border: none;
    border-radius: 1%;
    padding: 1px 5px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 10px;
}  

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.answer {
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 40px;
    width: 520px;
    height: 260px;
    top: 9rem;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    background: #d4d4d4;
}

.answer:hover {
    background: #FFB04E;
}

.answer.clicked {
    list-style-type: disc;
    background: #FFB04E;
}

.answer ul {
    list-style-type: circle;
}

.answer:hover ul {
    list-style-type: disc;
}